{{ ansible_managed | comment }}
default menu.c32
prompt 0
timeout 300
ONTIMEOUT local

MENU TITLE Main Menu

LABEL Tools
        MENU LABEL Tools
        KERNEL menu.c32
        APPEND pxelinux.cfg/tools
